.form__input {
  border-radius: 2px;
}
.reservation__form {
  max-width: 470px;
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__button {
  margin-top: 32px;
  margin-bottom: 12px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  margin: 0;
}

.form__checkbox-text {
  font-size: 16px;
}
.form {
  max-width: 385px;
  width: 100%;
}
