.header {
  width: 100%;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  max-width: 709px;
  margin-top: 153px;
  margin-bottom: 28px;
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #838383;
  margin-top: auto;
}

.header__column-heading {
  margin: 0;
  font-size: 16px;
}

.header__list-item {
  margin: 0;
}

.header__address {
  margin: 0;
  text-align: right;
}
