.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:hover {
  color: #2f80ed;
}
