.recipes__title {
  font-family: "Noto Serif", serif;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-left: 80px;
  margin-bottom: 24px;
  font-weight: 500;
}

.recipes__subtitle {
  margin-left: 80px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.content {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 215px;
  display: flex;
  flex-direction: column;
}
