.recipes__title {
  font-family: "Noto Serif", serif;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-left: 80px;
  margin-bottom: 24px;
  font-weight: 500;
}

.recipes__subtitle {
  margin-left: 80px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__button {
  margin-top: 32px;
  margin-bottom: 12px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  margin: 0;
}

.form__checkbox-text {
  font-size: 16px;
}
.form {
  max-width: 385px;
  width: 100%;
}
@import url("../blocks/page.css");
