.reservation {
  padding: 100px 0;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 100px 0 120px;
}
.reservation__title {
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto 80px;
}

.reservation__form {
  max-width: 470px;
  width: 100%;
}
