.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 20px;
}

.header {
  width: 100%;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  max-width: 709px;
  margin-top: 153px;
  margin-bottom: 28px;
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
}

.span-accent {
  color: #2f80ed;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px 40px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #838383;
}

.header__column-heading {
  margin: 0;
  font-size: 16px;
}

.header__list-item {
  margin: 0;
}

.header__address {
  margin: 0;
  text-align: right;
}

.content {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 215px;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Noto Serif", serif;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin-left: 80px;
  margin-bottom: 24px;
  font-weight: 500;
}

.recipes__subtitle {
  margin-left: 80px;
  margin-bottom: 80px;
  max-width: 438px;
}

.span-color {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.footer {
  padding: 60px 80px;
  background-color: #0a2750;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social-icon {
  width: 24px;
}

.footer__copyright {
  color: white;
}
.reservation {
  padding: 100px 0;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 120px;
}
.reservation__title {
  margin-top: 100px;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  text-align: center;
  margin: 0 0 80px;
}
.form__input {
  border-radius: 2px;
}
.reservation__form {
  max-width: 470px;
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__button {
  margin-top: 32px;
  margin-bottom: 12px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  margin: 0;
}

.form__checkbox-text {
  font-size: 16px;
}
.form {
  max-width: 385px;
  width: 100%;
}
